/* The code below puts the title of the website in the center */
.title { 
    text-align: center;
}

/* The code below adds a white background-color and black text color for the body of the page. */
body {
    color: rgb(0, 0, 0);
    text-align: center;
    background-color: rgb(255, 227, 227);
}


/* The code below adds a black background-color and white text color for each section heading. */
.section {
    color:rgb(0, 0, 0);
    text-align: center;
    background-color: rgb(255, 255, 255);
}

.image {
    width: 200px;

}