/* The code below puts the title of the website in the center */
.title { 
    text-align: center;
    color: #261D20;

}

/* The code below adds a white background-color and black text color for the body of the page. */
body {
    color: #261D20;
    text-align: center;
    background-color: rgb(255, 227, 277);
}


/* The code below adds a black background-color and white text color for each section heading. */
.section {
    color:rgb(255, 255, 255);
    text-align: center;
    background-color: #261D20;
    padding: 10px;
}

.image {
    width: 400px;
    border-style: double;
    border-radius: 10px;
    border-color: rgb(255, 227, 227);

}

h1 {
    color:rgb(255, 255, 255);
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;


}

p {
    color: rgb(255, 255, 255);
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
}

ul {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  color: rgb(255, 255, 255);
}

.container {
    display: flex;
    align-items: center;
    gap: 30px;
}